body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    border-radius: 3px;
    transition: background-color 200ms ease;
  }
  .button:hover {
    background-color: rgba(51, 51, 51, 0.8);
  }
  
  .ghost-button {
    background: transparent;
    border: 3px solid #333;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 200ms ease, color 200ms ease;
    padding: 1rem;
  }
  .ghost-button:hover {
    background: #333;
    color: white;
  }
  
  .grid-wrapper {
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }
  
  .masthead {
    background-color: rgba(255,255,255,0.5);
    color:#333;
  }
  
  .masthead-inner {
    text-align: center;
  }
  
  @media (min-width: 600px) {
    .masthead-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
    }
  }
  .site-title h1 {
    margin: 0;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  .menu a {
    color: #333;
    text-decoration: none;
  }
  .menu a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .menu li {
    margin: 0 0.5rem;
  }
  
  .hero {
    background-image: url(../IMG/office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
  }
  
  .hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .hero-inner {
    max-width: 80vw;
    margin: auto;
    padding-left: 2rem;
  }
  .hero-inner h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    line-height: 1.2;
  }
  
  @media (min-width: 600px) {
    .hero-inner {
      max-width: 50vw;
      margin: 0;
    }
    .hero-inner h2 {
      text-align: left;
    }
  }
  .features {
    padding: 2rem;
  }
  
  @media (min-width: 500px) {
    .features {
      padding: 4rem;
    }
  }
  @media (min-width: 500px) {
    .features-inner {
      display: flex;
      max-width: 800px;
      margin: auto;
    }
  }
  .features-group {
    padding-bottom: 2rem;
  }
  
  @media (min-width: 500px) {
    .features-group {
      flex: 0 1 30vw;
      padding-bottom: 0;
    }
    .features-group:nth-child(2) {
      margin: 0 2rem;
    }
  }
  .features-image img {
    width: 100%;
  }
  
  .callout {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://unsplash.it/1500?image=1019);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .callout-inner {
    text-align: center;
  }
  .callout-inner h3 {
    font-size: 2rem;
  }
  
  #blog {
    padding: 2rem 0;
  }
  
  @media (min-width: 700px) {
    #blog {
      padding: 5rem 0;
    }
  }
  .blog-inner {
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
  }
  
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
  }
  
  @media (min-width: 700px) {
    .blog-grid {
      display: grid;
      grid-template-columns: 400px 1fr;
      grid-template-rows: auto;
      grid-column-gap: 30px;
      grid-row-gap: 3rem;
    }
  }
  .blog-image img {
    width: 100%;
  }
  
  .blog-text {
    margin-bottom: 2rem;
  }
  
  .blog-summary {
    margin-top: 0;
  }
  
  .blog-cta {
    margin: 2rem 0 0;
  }
  .blog-cta a {
    font-size: 0.8rem;
  }
  
  @media (min-width: 700px) {
    .blog-cta {
      margin: 3rem 0 0;
      text-align: center;
    }
    .blog-cta a {
      font-size: 1rem;
    }
  }
  #footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 400px) {
    #footer {
      display: block;
      text-align: left;
    }
  }
  @media (min-width: 400px) {
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      justify-items: center;
      max-width: 1000px;
      margin: auto;
    }
  }
  @media (min-width: 768px) {
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      justify-items: center;
      max-width: 1000px;
      margin: auto;
    }
  }
  @media (min-width: 1000px) {
    .footer-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      justify-items: center;
      max-width: 1000px;
      margin: auto;
    }
  }
  .footer-heading h4 {
    font-weight: 400;
    font-size: 1.2rem;
  }
  
  @media (min-width: 1170px) {
    .footer-group {
      width: 200px;
    }
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  .footer-links ul li {
    padding: 0.5rem 0;
  }
  .footer-links ul li a {
    color: white;
    transition: color 200ms ease;
  }
  .footer-links ul li a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
